# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
env/
.env
.venv
.python-version
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
dist/
target/

# GuGa Server Specifics
/server/log/
/server/trusted_devices.json
/server/cloudflared
/server/cloudflared.exe
/server/nohup.out
/server/*.out
/*.log
/server/*.log
/server/alerter.log
/server/raw_dbus.log
/server/server.log
